@CHARSET "UTF-8";
.subjectView{

	height: 200px;
	margin-left: 3%;
	width: 460px;
	background-color: #fefefe;
	margin-top: 28px;
	border-radius: 25px;
	
	
}
.jumbotron.contentDiv.subjectDiv{
	margin-left: 1vmin;
	
	
}

.subjectView>.area>.row {
	margin-top: 10px;
	font-size: 3vmin;
	margin-bottom: 10px;
}
.subjectView>.area {
	float: left;
	width: 230px;
}

div.subjectUserView .textArea {
	padding-left: 1%;
	padding-right: 1%;
	color: #e74c3c;
	display: inline;
}

.subjectUserView>.headerRow {
	text-align: center;
}

.paperTotalDiv {
	height: 230px;
}

.paperUserTotalView {
	float: left;
	margin-left: 3%;
	width: 750px;
	background-color: #fefefe;
	margin-top: 28px;
	border-radius: 25px;
}

.paperUserTotalView>.area>.row {
	margin-top: 10px;
	font-size: 3vmin;
	margin-bottom: 10px;
}

.paperUserTotalView>.area {
	float: left;
	width: 230px;
}

div.rankArea>.headerRow>span {
	color: #3498db;
	font-size: 3vmin;
}

div.rankArea {
	text-align: center;
}

div.rankArea>.headerRow {
	text-align: center;
}

div.area .row>.col-xs-4 {
	text-align: right;
}

.paperTotalView {

}

.paperCharts {
	width: 180px;
	height: 150px;
	margin-left: 10px;
}

.row .textArea {
	display: inline;
padding-left: 1%;
padding-right: 1%;
	color: cornflowerblue;
}

div.nameArea .textArea {
	padding-left: 1%;
	padding-right: 1%;
	color: #e74c3c;
	display: inline;
}

.paperTotalView>.scoreRow>.chartsCol {
	float: left;
}