@CHARSET "UTF-8";

.rootContainer {
	padding: 10px 10px 10px;
}

.contentDiv {
	border-radius: 5px;
	width: 100%;
}

.buttomLineDiv {
	border-bottom: #cccccc;
	border-bottom-style: dashed;
}

.iconSubject {
	font-size: 56px;
}

.lineSubjectContent {
	text-align: center;
	width: 100%
}
.lineSubjectContent {
	text-align: center;
	width: 100%
}
#linePainter {

}
.contentDiv.subjectDiv {
	text-align: center;
	max-width: 1000px;
	min-width: 1000px;
	max-height: 650px;
	min-height: 650px;
	margin-left: 18%; 
}

.subjectDiv {
	
}

.linePainter {
	
}

.subjectHeader {
	text-align: left;
	padding-left: 15px;
	font-size: 30px;
	margin-bottom: 10px;
}

.jumbotron.contentDiv {
	
}

.subjectRooter {
	padding-top: 10px
}

.waitTextDiv {
	text-align: center;
	font-size: 33px;
}

.subjectAudioView {
	display: none;
	width: 100px;
	height: 100px;
}

.scoreDiv {
	display: none;
}

.subjectChooseGroup>.col-sm-8 {
	text-align: left;
}

.viewable {
	display: none;
}

.radio-inline>strong {
	font-size: 25px;
	line-height: 16px;
}

.subjectChooseGroup {
	text-align: left;
	padding-left: 7%;
}

.subjectHeader>.col-xs-1 {
	text-align: right;
	color: cornflowerblue;
	font-size: 40px;
	line-height: normal;
}


.subjectHeader>.col-xs-10 {
	
}
.specRow{
	position: relative;
	float:left;
	padding-left:10px;
	min-width:900px;
	max-width:900px;
	
}
.specRow.textRow>.wordSubjectDiv{
	text-align:center;
	fontSize:25px;
	min-width:210px;
	max-width:210px;
	min-height:30px;
	max-height:30px;
	float: left;
	padding-left: 10px;
	border-style: solid;
	line-height: 1;
	border-radius: 25px;
}
.specRow.painterRow{
	width:100%;

	
}
.specRow.picRow>.picSubjectDiv{
float: left;
	min-width:210px;
	max-width:210px;
	min-height:150px;
	max-height:150px;
	padding-left: 10px;

}
