@CHARSET "UTF-8";

.rootContainer {
	padding: 10px 10px 10px;
}

.contentDiv {
	border-radius: 5px;
}

.coverDiv {
	padding-top: 50px;
	font-size: 25px;
	color: #63788d;
}

.badge {
	position: absolute;
	left: 19%;
	top: -3%;
	border-radius: 50%;
	width: 23px;
	height: 20px;
	background-color: #e74c3c;
}

.buttomLineDiv {
	border-bottom: #cccccc;
	border-bottom-style: dashed;
}

.iconSubject {
	font-size: 56px;
}

.paperCard {
	background-color: #f9f9f9;
	border-radius: 10px;
	height: 138px;
	padding-top: 20px;
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
	border: turquoise;
	transition:all  .2s;
}
.paperCard:hover{
	background-color: #f9f9f9;
	border-radius: 50px;
	border: turquoise;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
	border-style: solid;
}
.paperListDiv{
		text-align: center;
	
}
.paperListDiv>.row:last-child{

padding-top: 40px;

}

.refreshButton>a{
	color: #d4d8d9;
	
	
}
.refreshButton>a:hover{
	color: #bdc3c7;
}


.paperCard >.col-md-1 {

	padding-top: 20px;
}
.paperCard >.col-md-1>span.fui-calendar{
	padding-top: 20px;
	color: salmon;
}
.paperCard >.col-md-10 {
	
	text-align: left;
	padding-left: 50px;
}

.paperTitle{
	
	font-size:31px;

	
}
.paperDate{
	
	font-size:16px;
	color: #bbbbbb;
	
}


